/* Service List Page CSS */
/*-------------------------------------------- */
    :root {
        --primary-color: #3498db; 
        --link-color: #495057;
        --active-bg: #e6f7ff;
        --active-color: var(--primary-color);
    }
    .custom-package-table thead th {
        font-weight: 600;
        color: #333;
    }

    .custom-package-table tbody tr:hover {
        background-color: #f7f7f7;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .custom-content-area{
        width : 100%;
    }


/* Header CSS */

    .custom-header {
    display: flex;
        align-items: center;
        background: linear-gradient(to right, white, #ADD8E6);
        background-size: 200%;
        width: 100%;
        height: 50px;
        margin: 0px;
        justify-content: space-between;
    }

    .logo{
        margin-left: 20px;
        font-size: 20px;
        color: var(--active-color);
        font-weight: bold;
        text-decoration: none;
    }

    .header-icons-group{
        margin-right: 30px;
        font-size: 25px;
        font-weight: 300;
    }

    .admin i{
        margin-right: 5px;
    }
    .dropdown{
        padding-bottom: 5px;
    }
    .custom-dropdown-btn{
        font-size: 1rem;
        border: none;
    }


        /* Sidebar CSS */
        .custom-body-wrapper {
        display: flex;
        height: 66rem;
    }

    .custom-sidebar {
        width: 250px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
        padding: 20px 0;
        position: sticky; 
        top: 50px; 
        height: 100%;
    }
    .custom-sidebar-nav {
        padding: 0 10px;
    }
    .menu-item {
        padding: 14px 20px;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .menu-link {
        text-decoration: none;
        color: black;
    }

    .menu-item i {
        width: 20px;
        margin-right: 10px;
    }

    .menu-item:hover {
        background-color: rgb(208, 243, 255);
        border-radius: 5px;
        color: #0707ae;
    }

    .menu-item:hover a {
        background-color: rgb(208, 243, 255);
        border-radius: 5px;
        color: #0707ae;
    }
 
   .custom-offcanvas-sidebar {
    max-width: 60%;
    width: 220px;
    background-color: white;
    }
    
    .custom-offcanvas-header {
        background-color: var(--primary-color);
        color: white;
        padding: 15px 20px;
    }

    .custom-offcanvas-header .btn-close {
        background-color: white; 
    }

/* Footer */

    footer{
        text-align: center;
        padding-right: 60px;
        padding-top: 12px;
        padding-bottom: 15px;
        font-size: 10px;
        border-top: 1px solid #dddd;
        background-color: var(--bg-light);
    }