:root {
    --primary-color: #3498db; 
    --link-color: #495057;
    --active-bg: #e6f7ff;
    --active-color: var(--primary-color);
    --bg-light: #f4f5f8; 
}

body {
    background-color: var(--bg-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */

.custom-header {
   display: flex;
    align-items: center;
    background: linear-gradient(to right, white, #ADD8E6);
    background-size: 200%;
    width: 100%;
    height: 50px;
    margin: 0px;
    justify-content: space-between;
}

.logo{
    margin-left: 20px;
    font-size: 20px;
    color: var(--active-color);
    font-weight: bold;
    text-decoration: none;
}

.header-icons-group{
    margin-right: 30px;
    font-size: 25px;
    font-weight: 300;
}

.admin i{
    margin-right: 5px;
}

.dropdown{
    padding-bottom: 5px;
}
.custom-dropdown-btn{
    font-size: 1.1rem;
    border: none;
}


/* Sidebar CSS */

.custom-body-wrapper {
    display: flex;
    min-height: 91.5vh;
}

.custom-sidebar {
    width: 18%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    padding: 25px 0;
    position: sticky; 
    top: 50px; 
    
}

.custom-sidebar-nav {
    padding: 0 10px;
}

.menu-item{
    margin: 1px;
    padding: 14px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.menu-link{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

.menu-item i{
    width: 20px;
    margin-right: 10px;
}

.menu-item:hover{
    background-color: rgb(208, 243, 255);
    border-radius: 5px;
    color: #0707ae;
    transform: translateX(3px);
}
.menu-item:hover a{
    background-color: rgb(208, 243, 255);
    border-radius: 5px;
    color: #0707ae;
}

/* Active Menu */
.menu-item.active, 
.menu-item.active .menu-link{
    background-color: rgb(208, 243, 255);
    border-radius: 5px;
    color: #0707ae;
    transform: translateX(3px);
}

.menu-item.active .menu-link{
    color: #0707ae;
}

.menu-item.active i{
    color: #0707ae;
}

/* Responsive Offcanvas Sidebar */ 

.custom-offcanvas-sidebar {
    max-width: 60%;
    width: 210px;
    background-color: white;
}

.custom-offcanvas-header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px;
}

.custom-offcanvas-header .btn-close {
    background-color: white; 
}


/* Main */

.custom-content-area {
    flex-grow: 1;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5em;
}
.back{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-top: 20px;
}

/* Form */
.card {
    border-radius: 8px; 
    height: 35rem;
}                                         

.form-control-lg {
    padding: 1rem 0.75rem;
    font-size: 1em;
}

.form-label{
    font-size: 1.15rem;
}

.fw-bold{
    font-weight: 650 !important;
}
.btn-secondary {
    font-size: 1.35rem;
    margin-right: 7px;
    margin-left: 5px;
}
.btn-primary{
    font-size: 1.35rem;
    margin-right: 7px;
    margin-left: 5px;
}


/* Footer */

footer{
    text-align: center;
    padding-right: 2.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 10.5px;
    border-top: 1px solid #dddd;
    background-color: var(--bg-light);
}


/* Style-App-List*/

    .custom-package-table thead th {
        font-weight: 600;
        color: #333;
    }

    .custom-package-table tbody tr:hover {
        background-color: #f7f7f7;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .custom-content-area{
        width : 100%;
    }


/* @media (max-width: 480px) {
    footer {
        padding-left: 80px;
    }
} */

